body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
#app{
    background-color: rgb(104, 104, 231);
}
#game{
    background-color: rgb(42, 159, 163);
}
#game img{
    width: 150px;
}

.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}